<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-5.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-5.0.xsd">
        
    <!-- 1.配置数据源 -->
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/dqcheck"/>
    </bean>
    
     <!--2.spring 整合  mybatis start -->
      <!-- 1.会话工厂sqlSessionFactory -->
      <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
      		<property name="dataSource" ref="dataSource"/><!-- 数据源 -->
      		<property name="mapperLocations" value="classpath:sql-mapper/**/*.xml"/><!-- 映射mapping -->
      		<property name="configLocation" value="classpath:bean/mybatis/mybatis-config.xml" /><!-- 全局配置 -->
      		<property name="plugins"><!-- 外载程序 分页助手 -->
      			<array>
      				<bean class="com.github.pagehelper.PageInterceptor">
      					<property name="properties">
      						<value>
      						<!-- 自适应识别不同的数据源 -->
							autoRuntimeDialect=true
      						</value>
       					</property>
      				</bean>
      			</array>
      		</property>
      </bean>
      <!-- 2.自动扫描对象关系映射 -->
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     	<!--指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
    	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    	 <!-- 指定要自动扫描接口的基础包，实现接口 -->
    	<property name="basePackage" value="myproject.**.dao"/>
     </bean>
    <!--spring 整合  mybatis end -->  
 </beans>